.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.book-card {
  border-radius:10px;
  border: 1px solid #e2e2e2;
  width:50%;
  height:200px;
  margin-bottom: 10px;
  font-size: 10px;

}

/* @media  from 2 col to 1  & font*/

@media only screen and (max-width: 900px) {
  .book-card {
    width:70%;
  }
}

@media only screen and (max-width: 600px) {
  .book-card {
    font-size: 8px;
  }
}


.card-left {
  width:40%;
  height:200px;
  float:left;  
  background-color: #e2e2e2;
}

.card-left img {
  width:100%;
  height:200px;  
  border-radius:10px 0 0 10px;  
}



.card-right {
  width:60%;
  float:left;
  height:100%;
  padding: 5px;
  border-radius:0 10px 10px 0;
  background-color: #e2e2e2;
  color: rgb(0, 0, 0);
  position: relative;
}

.card-right h2 {
  font-weight:400;
  text-align:left;
  
  margin:10px 0 0 0;
  letter-spacing:1px;
}




.card-btn {
  margin-top: 10px;
  margin-bottom: 10px;  
  position: absolute;
  bottom: 0;
 
}

.btn {
  display: inline-block;
  height: 20%;
  width: 100%;
  overflow: hidden;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fff;
  text-align: center;
  padding: 5px;
}

.btn-red {
  background-color: #FF4136;
  border: 1px solid  #FF4136;
  transition: all .2s; 
}

.btn-red:hover {
  background-color: rgb(226, 27, 17);
  border: 1px solid  rgb(226, 27, 17);  
}

.btn-yellow {
  background-color: #FFDC00;
  border: 1px solid  #FFDC00;
  transition: all .2s;
}

.btn-yellow:hover {
  background-color: rgb(216, 187, 0);
  border: 1px solid  rgb(216, 187, 0);
}



/* spinner */

.spinner:before {
  content: "";
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  height: 100px;
  width: 100px;
  margin-top:-30px;
  border-radius: 50%;
  
  border-top: 2px solid red;
  border-right:2px solid transparent;
  animation: spinner .7s linear infinite;
}

@keyframes spinner {
  to {
      transform: rotate(360deg);
  }
}
