<div class="modal">
    <div class="modal-content">
        <span class="closeBtn" (click)="clickOnClose()" >&times;</span>
        
        <form #addNewBook="ngForm" (ngSubmit)="onSubmit(addNewBook)">
  
            <p>
              <label for="title">Title</label>
              <input type="text"  name="title" #bookTitle="ngModel" [(ngModel)]="name" minlength="2" required [ngClass]="{'invalid':bookTitle.errors && bookTitle.touched}">          
            </p>


            <p>
                <label for="author">Author</label>
                <input type="text"  name="author" #bookAuthor="ngModel" [(ngModel)]="author" minlength="2" required [ngClass]="{'invalid':bookAuthor.errors && bookAuthor.touched}">              
            </p>

            <p>
                <label for="date">Date</label>
                <input type="date"  name="date" #bookDate="ngModel" [(ngModel)]="date"  required>              
            </p>
            

            <p>
                <label for="img">Image url</label>
                <input type="text"  name="img" #bookImg="ngModel" [(ngModel)]="img">              
            </p>

      
            
            <p>
                <button [disabled]="!addNewBook.form.valid" type="submit" value="submit" class="btn">Add New Book </button>
            </p>
              
          </form>
        
    </div>
</div>